<table width="100%"  border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td width="50%" class="CellTablebuttonL">
      <%= button_to_function 'Cancelar', "window.location='#{cancel_url}'", :class => 'button' %>
    </td>
    <td width="50%" class="CellTablebuttonR" align="right">
      <%= submit_tag submit_label, :class => 'button' %>
    </td>
	</tr>
</table>
