<strong><%= APP_NAME %></strong> | 
Copyright © 2009 ASPgems | <a href="http://www.madridonrails.com" target="_blank" >Sobre Madrid On Rails</a> |
<a href="http://www.madridonrails.com/contacto" target="_blank">Contacto</a>
