<p>
  Aceptar <span class="Text13Orange"><%= link_to 'condiciones del servicio', {:controller => 'public', :action => 'terms_of_service'}, :target => '_blank' %></span>
  <input type="checkbox" name="accept_terms_of_service" />.
</p>

<p>
  <%= submit_tag 'Registrar', :class => 'button' %>
</p>
