<% form_tag({}, :onsubmit => "return check_acceptance_of_terms_of_service(this);") do -%>
<%= render :partial => 'common_fields_for_signups' %>
<%= render :partial => 'common_footer_for_signups' %>
<% end %>