<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <meta http-equiv="content-language" content="es" />
    <meta name="copyright"    content="Copyright 2007 ASPgems" />
    <meta name="description"  content="Aplicacion para facturacion on-line" />
    <meta name="keywords"     content="<%= APP_NAME %>, factura, facturacion, facil, invoice, invoicing, ASPgems" />
    <meta name="robots"       content="index,follow" />
    <meta name="language"     content="ES" />
    <meta name="distribution" content="global" />
    <meta name="abstract"     content="<%= APP_NAME %> es una aplicacion on-line con la que resulta muy sencillo facturar y compartir tus facturas con clientes y gestorias de manera segura" />

    <title><%= APP_NAME %>: condiciones del servicio</title>

    <!-- favicon, following the guidelines in http://en.wikipedia.org/wiki/Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="ROR" href="ror.xml" />

    <style type="text/css" media="screen">
      body {
        font-family: Arial, Verdana, sans-serif;
        padding: 30px;
        color: #555;
        background-color: white;
        font-size: 11pt;
      }
      .terms_of_service_header {
        color: #E77E19;
        font-weight: bold;
      }
      
      a {
        color: #555;
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <p>
      <%= link_to_function 'Cerrar ventana', 'window.close()' %><br />
    </p>
    <h1>Condiciones de uso</h1>
    <h2>Contrato entre ASPgems y el cliente</h2>
    <p>ADVERTENCIA:
      LEA CON ATENCI&Oacute;N ESTE CONTRATO (en adelante, el &ldquo;Contrato&rdquo;)
      ANTES DE ACCEDER A LA APLICACI&Oacute;N Y UTILIZAR EL SERVICIO. SI
      USTED, EL CLIENTE, ACCEDE A LA APLICACI&Oacute;N Y UTILIZA EL
      SERVICIO DEL MODO INDICADO EN ESTE CONTRATO, MANIFIESTA EXPRESAMENTE
      CONOCER Y ACEPTAR EN SU INTEGRIDAD LOS SIGUIENTES T&Eacute;RMINOS DEL
      CONTRATO QUE SER&Aacute;N DE PLENA APLICACI&Oacute;N A SU RELACI&Oacute;N
      CON ASPGEMS. SI LOS PRESENTES T&Eacute;RMINOS CONTRACTUALES NO SON
      ACEPTABLES PARA USTED, DE MODO TOTAL O PARCIAL, NO ACCEDA A LA
      APLICACI&Oacute;N NI UTILICE EL SERVICIO.
    </p>
    <p>
      Mediante la
      cumplimentaci&oacute;n de los datos contenidos en el cuadro
      precedente, y el env&iacute;o de los mismos a ASPgems, marcando la
      casilla que se halla junto al enlace &ldquo;Acepto las condiciones de
      uso&rdquo; a trav&eacute;s del cu&aacute;l se accede a esta p&aacute;gina,
      y pulsando el icono &ldquo;Enviar&rdquo;, la sociedad o persona
      f&iacute;sica cuyos datos se recogen en dicho cuadro (denominada en
      lo sucesivo, el &ldquo;Cliente&rdquo;), manifiesta expresamente
      conocer y aceptar en su integridad los t&eacute;rminos y condiciones
      contenidos en el presente contrato que regulan la relaci&oacute;n
      entre el Cliente y ASPgems, S.L., sociedad con domicilio social en C/
      Rios Rosas 11, escalera A, 1º izquierda, Madrid 28003, (Espa&ntilde;a),
      Inscrita en el Registro
      Mercantil de Madrid al Tomo 22.897, Libro 0, Folio 87 , Hoja
      M-410074, Inscripci&oacute;n 1&ordf;, portadora del CIF n&ordm;
      B84741164, (denominada en lo sucesivo, &ldquo;ASPgems&rdquo;) en
      materia de prestaci&oacute;n de los servicios que se describen a
      continuaci&oacute;n y que constituye el objeto del mismo (el
      &ldquo;Contrato&rdquo;)
    </p>
    <p>
      <span class="terms_of_service_header">1. OBJETO DEL CONTRATO</span>
      <br />
      Mediante
      la aceptaci&oacute;n del presente Contrato del modo indicado en el
      p&aacute;rrafo precedente, ASPgems presta al Cliente los siguientes
      servicios durante el plazo de duraci&oacute;n establecido en la
      Cl&aacute;usula 6 siguiente: (i) servicios de acceso a la plataforma
      inform&aacute;tica de ASPgems en la modalidad ASP (&ldquo;Application
      Service Provider&rdquo;) localizada en un servidor de ASPgems o de un
      tercero designado por parte de ASPgems (el &ldquo;Servidor&rdquo;) a
      trav&eacute;s de la cu&aacute;l se ponen a disposici&oacute;n del
      Cliente y de los empleados del Cliente dados de alta en el servicio,
      los servicios on line seleccionados por parte del Cliente de modo
      previo a la aceptaci&oacute;n de los presentes t&eacute;rminos y
      condiciones, introduciendo el nombre de usuario y la contrase&ntilde;a
      que el Cliente determine libremente en el proceso de registro con la
      finalidad de realizar la autentificaci&oacute;n del mismo; (ii)
      servicios de mantenimiento, y de resoluci&oacute;n de dudas. Para la
      prestaci&oacute;n de estos servicios, ASPgems pone a disposici&oacute;n
      del Cliente, los d&iacute;as laborables, y dentro del horario laboral
      de ASPgems (de lunes a viernes, de 9:00 horas a 14:00 horas, y de
      16:00 horas a 19:00 horas; salvo fiestas nacionales, de la Comunidad
      Aut&oacute;noma de Madrid, o locales (Madrid), el correo electr&oacute;nico:
      soporte @aspgems.com ; y (iii) servicios de respaldo o back-up de los
      datos que sean introducidos y almacenados en el Servidor a trav&eacute;s
      del acceso y uso de la aplicaci&oacute;n ASPgems durante el plazo de
      duraci&oacute;n del presente Contrato y durante el plazo adicional de
      dos (2) meses contados a partir de la finalizaci&oacute;n del
      Contrato por cualquier causa, transcurridos los cuales a totalidad de
      dichos datos ser&aacute;n destruidos y borrados de modo autom&aacute;tico
      (los &ldquo;Servicios&rdquo;). ASPgems s&oacute;lo autoriza el uso
      interno de los Servicios por parte del Cliente, de modo que no
      autoriza su uso para la prestaci&oacute;n de servicios a terceros por
      parte del Cliente de modo gratuito o a cambio de precio.
    </p>
    <p>
      <span class="terms_of_service_header">2. OBLIGACIONES DEL CLIENTE</span>
      <br />
      El Cliente se compromete a disponer de los recursos materiales y de
      infraestructura necesarios para el uso de los Servicios de ASPgems,
      incluyendo, entre otros elementos, ordenador de sobremesa, o
      port&aacute;til, navegador compatible con las aplicaciones mediante
      las cuales se prestan los servicios, y, acceso a Internet,
      as&iacute; como las licencias, autorizaciones, o consentimientos de
      terceros necesarias para el desarrollo de su actividad. Asimismo, el
      Cliente conservar&aacute; y custodiar&aacute; en calidad de
      depositario el nombre de usuario, y la contrase&ntilde;a que
      determine de modo libre para el uso de los Servicios en el momento de darse de alta.
    </p>
    <p>
      <span class="terms_of_service_header">3. GARANT&Iacute;A</span>
      <br />
      ASPgems presta los Servicios &ldquo;tal y como se
      encuentran&rdquo;, y garantiza que los Servicios ser&aacute;n
      prestados con la diligencia debida por personal altamente cualificado
      por su experiencia y conocimiento, y de conformidad con los criterios
      generalmente aceptados en el sector. ASPgems no concede ninguna otra
      garant&iacute;a sobre los Servicios, expresa o
      impl&iacute;cita, incluyendo, sin limitaci&oacute;n, cualquier
      garant&iacute;a de mercantibilidad, idoneidad para finalidades
      particulares, calidad satisfactoria, utilidad, u operatividad
      ininterrumpida o exenta de errores. La garant&iacute;a indicada en
      este p&aacute;rrafo tendr&aacute; un plazo de un (1) mes a
      partir de la fecha de alta del Cliente durante los cuales, ASPgems
      llevar&aacute; a cabo las correcciones, modificaciones, adiciones o
      cualquier otro ajuste que sea requerido para satisfacer dicha
      garant&iacute;a. Tales servicios ser&aacute;n prestados sin
      cargo alguno para el Cliente salvo que las correcciones o ajustes sean
      consecuencia de: (i) la negligencia del Cliente; (ii) el suministro o
      tratamiento de datos que no sean conformes o compatibles con los
      formatos configurados por ASPgems; (iii) defectos o aver&iacute;as
      del hardware o de la conexi&oacute;n a Internet del Cliente;
      o&nbsp; (iv) el uso de los Servicios por usuarios o terminales no
      autorizadas o para finalidades distintas a las permitidas en el
      presente Contrato.
    </p>
    <p>
      <span class="terms_of_service_header">4. LIMITACI&Oacute;N DE RESPONSABILIDAD</span>
      <br />
      ASPgems mantendr&aacute; libre de toda responsabilidad al Cliente
      frente a cualquier reclamaci&oacute;n que tenga su origen en
      da&ntilde;os o perjuicios causados por acciones u omisiones de
      ASPgems relativas al presente Contrato una vez declarados en virtud de
      sentencia judicial firme, y siempre y cuando, el Cliente haya
      notificado a ASPgems la existencia de la reclamaci&oacute;n y los
      aspectos esenciales de la misma tan pronto tenga conocimiento de dicha
      reclamaci&oacute;n, no haya adoptado una posici&oacute;n
      adversa a ASPgems, y haya permitido a ASPgems tener el control de su
      defensa. En todo caso, la responsabilidad de ASPgems de modo agregado y
      total se limitar&aacute; a la cuant&iacute;a facturada y
      cobrada por ASPgems por la prestaci&oacute;n de los Servicios
      contratados por el Cliente durante el a&ntilde;o inmediatamente
      anterior a la fecha de la reclamaci&oacute;n. El Cliente
      deber&aacute; prestar su plena colaboraci&oacute;n a ASPgems,
      incluyendo la puesta disposici&oacute;n de informaci&oacute;n,
      a los efectos de hacer frente a las reclamaciones contra ASPgems que
      puedan ser presentadas de conformidad con lo indicado en esta
      Cl&aacute;usula. En ning&uacute;n caso ASPgems ser&aacute;
      responsable de cualquiera de los siguientes aspectos: (i) el acceso a
      Internet y la capacidad de tratamiento y procesamiento de datos del
      equipo de hardware y software utilizados por parte del Cliente; (ii)
      los tiempos en el procesamiento y env&iacute;o de los datos o de
      las consultas de los datos almacenados; (iii) los niveles de carga o
      n&uacute;mero de consultas por segundo que el proveedor de acceso a
      Internet es capaz de de soportar; (iv) cambios en las condiciones de
      prestaci&oacute;n de servicios de acceso a Internet por parte de
      los operadores y de los proveedores de dichos servicios, o cambios
      motivados por cambios en la legislaci&oacute;n aplicable, por
      cambios o condiciones impuestas por la Comisi&oacute;n del Mercado
      de las Telecomunicaciones en las licencias de los proveedores de acceso
      a Internet, o cambios decididos por los propios proveedores de acceso a
      Internet; (v) usos de los Servicios ofrecidos por parte de
      ASPgems de un modo que no sea conforme con las instrucciones dadas por parte de
      ASPgems en cada momento, en su caso: (vi) usos fraudulentos, desleales, abusivos, o
      il&iacute;citos, por parte de los usuarios o por parte de terceros
      de los Servicios ofrecidos por parte de ASPgems.
    </p>
    <p>
      <span class="terms_of_service_header">5. DERECHOS DE PROPIEDAD INDUSTRIAL E INTELECTUAL</span>
      <br />
      ASPgems manifiesta, y el Cliente acepta que todos los derechos de
      propiedad industrial e intelectual sobre los programas de ordenador,
      las aplicaciones, los contenidos, las bases de datos, y cualquier otra
      herramienta necesaria para prestar los Servicios son titularidad plena
      de ASPgems, de modo que el Cliente se compromete a no ceder, vender,
      alquilar, transmitir, o distribuir a terceros, ya sean personas
      f&iacute;sicas, o jur&iacute;dicas, de modo total o parcial,
      dichos derechos de propiedad industrial e intelectual sin el
      consentimiento previo y por escrito de ASPgems. El Cliente se
      compromete a respetar y mantener los derechos de propiedad industrial e
      intelectual relativos a los Servicios, que ASPgems preste al Cliente en
      cumplimiento de lo establecido en el presente Contrato. El Cliente
      colaborar&aacute; con ASPgems en la protecci&oacute;n de dichos
      derechos de propiedad industrial e intelectual relativos a los
      Servicios, o de cualquier otro derecho de propiedad industrial e
      intelectual de ASPgems, y comunicar&aacute; a ASPgems cualquier
      infracci&oacute;n de dichos derechos de los que directa o
      indirectamente el Cliente tenga conocimiento. El Cliente es titular de los datos propios que incorpore a
      la plataforma de ASPgems durante el plazo de duraci&oacute;n del presente Contrato.
    </p>
    <p>
      <span class="terms_of_service_header">6. DURACI&Oacute;N</span>
      <br />
      El presente Contrato tendr&aacute; una duraci&oacute;n de un
      (1) mes desde la fecha de su aceptaci&oacute;n o firma indicada en
      el reverso. Una vez transcurrido el plazo de duraci&oacute;n
      indicado de un (1) mes, el presente Contrato se renovar&aacute;
      autom&aacute;ticamente por plazos adicionales de un (1) mes cada
      uno, salvo que cualquiera de las partes notifique a la otra por escrito
      mediante correo electr&oacute;nico su deseo de dar por
      finalizado el Contrato, con un plazo de preaviso de siete (7)
      d&iacute;as de antelaci&oacute;n a la fecha de
      finalizaci&oacute;n del plazo de duraci&oacute;n inicial o de
      cualquiera de sus sucesivas renovaciones autom&aacute;ticas.
      En el caso de que la mencionada notificaci&oacute;n se realice por
      parte del Cliente a ASPgems, dicha comunicaci&oacute;n ser&aacute enviada al correo electr&oacute;nico
      baja (arroba) aspgems.com. En
      caso de que el Cliente no satisfaga el precio en cualquier momento
      durante el plazo de duraci&oacute;n del presente Contrato, ASPgems
      se reserva el derecho a suspender la prestaci&oacute;n del Servicio
      durante el plazo de dos (2) meses hasta el momento en que el Cliente
      satisfaga el precio pendiente de realizar. Durante el mencionado plazo
      de dos (2) meses el Cliente podr&aacute; acceder, visualizar y
      descargar en su equipo los datos incorporados a la plataforma de
      ASPgems por parte del Cliente de modo previo a la fecha de
      suspensi&oacute;n del presente Contrato, pero no podr&aacute;
      incorporar nuevos datos, manteni&eacute;ndose dicha facultad de
      escritura e incorporaci&oacute;n de nuevos datos bloqueada hasta la
      fecha en que el Cliente realice el pago del precio pendiente en su
      integridad. Transcurrido el plazo de dos (2) meses sin que el Cliente
      haya realizado el pago de la cuant&iacute;a pendiente de satisfacer
      a ASPgems, ASPgems podr&aacute; resolver de modo
      autom&aacute;tico y unilateral el presente Contrato. Asimismo, el
      presente Contrato podr&aacute; ser resuelto unilateralmente y de
      modo inmediato por parte de ASPgems, en el caso de que: (a)
      el Cliente incumpla cualquier obligaci&oacute;n esencial de los
      t&eacute;rminos y condiciones establecidos en el presente Contrato,
      con especial atenci&oacute;n al incumplimiento de la
      obligaci&oacute;n de pago del precio por parte del Cliente, sin perjuicio de la
      aplicaci&oacute;n de lo establecido anteriormente en esta materia; (b) el Cliente incumpla cualquier obligaci&oacute;n
      esencial de los t&eacute;rminos y condiciones establecidos en el
      presente Contrato una vez se haya producido la declaraci&oacute;n
      de insolvencia del Cliente por parte de un tribunal competente; (c) el
      Cliente acuerde su disoluci&oacute;n, o adopte cualquier acuerdo
      social o inicie cualquier procedimiento para su liquidaci&oacute;n.
      En cualquier caso, a la finalizaci&oacute;n o resoluci&oacute;n
      del presente Contrato, (i) ASPgems dar&aacute de baja al Cliente, anulando sus nombres de
      acceso y contrase&ntilde;as, de modo que el Cliente no tendr&aacute acceso a la plataforma
      ASPgems desde ese momento, y ASPgems tendr&aacute derecho a destruir los datos del
      Cliente almacenados en su servidor de modo autom&aacute;tico transcurrido el plazo de dos (2)
      meses desde la fecha de finalizaci&oacute;n o resoluci&oacute;n del Contrato; y (ii) el Cliente destruir&aacute; o
      retirar&aacute; todas las copias que pudiera conservar de la
      informaci&oacute;n perteneciente a ASPgems, en cualquier disco
      duro, servidor, memoria temporal, o soporte, ya sea &eacute;ste, un
      CD-ROM, disquete, DVD o cualquier otro, dentro del plazo de siete (7)
      d&iacute;as a partir de la fecha de la notificaci&oacute;n, o
      de la baja del Cliente.
    </p>
    <p>
      <span class="terms_of_service_header">7. CONFIDENCIALIDAD</span>
      <br />
      Las Partes se comprometen a mantener confidencial y no revelar a
      terceros la existencia y el contenido del presente Contrato. Asimismo,
      las Partes se comprometen a mantener confidencial la
      informaci&oacute;n que reciban de la otra Parte y a la que tengan
      acceso en el curso del cumplimiento del presente Contrato, y a no
      comunicarlo a terceros bajo ninguna circunstancia salvo que sea exigido
      por ley, decisi&oacute;n judicial, orden administrativa o laudo
      arbitral, o se trate de informaci&oacute;n que se halle en el
      dominio p&uacute;blico, o sea necesariop para el cumplimiento del presente Contrato.
      Las Partes se comprometen a adoptar las
      medidas necesarias para que las personas dependientes de ellas que
      tengan acceso a la informaci&oacute;n confidencial de la otra Parte
      cumplan los requisitos establecidos en la presente Cl&aacute;usula,
      siendo responsables con dichas personas dependientes de modo solidario
      en caso de incumplimiento de dichas obligaciones de confidencialidad
      por parte de las mismas. La presente Cl&aacute;usula
      continuar&aacute; en vigor de modo indefinido con posterioridad a
      la finalizaci&oacute;n o resoluci&oacute;n del presente
      Contrato.
    </p>
    <p>
      <span class="terms_of_service_header">8. PROTECCI&Oacute;N DE DATOS DE CAR&Aacute;CTER PERSONAL</span>
      <br />
      Mediante la  aceptaci&oacute;n del
      presente Contrato, el Cliente autoriza expresamente a ASPgems a
      incorporar los datos personales indicados en los cuadros que preceden
      los presentes t&eacute;rminos y condiciones, al fichero denominado
      &ldquo;Clientes&rdquo;, del cual ASPgems es responsable, con la
      finalidad de activar los Servicios contratados, y darle de alta como
      cliente, autentificar el nombre de usuario y contrase&ntilde;a para
      permitir el uso de los Servicios de ASPgems que el Cliente haya
      contratado, as&iacute; como para mantenerle informado de nuevos
      productos y servicios de ASPgems o de las campa&ntilde;as
      promocionales de ASPgems, por cualquier medio de
      comunicaci&oacute;n, incluyendo el correo electr&oacute;nico, o
      medios de comunicaci&oacute;n equivalentes, que el Cliente acepta
      recibir expresamente. La comunicaci&oacute;n de los datos
      personales indicados es de car&aacute;cter obligatorio ya que de lo
      contrario, ASPgems no podr&iacute;a prestarle los Servicios
      contratados. El Cliente puede ejercitar sus derechos de acceso
      rectificaci&oacute;n, cancelaci&oacute;n y oposici&oacute;n
      dirigiendo su solicitud a la atenci&oacute;n del Departamento
      Comercial, ASPgems, S.L. ,C/ Rios Rosas 11, escalera A, 1º izquierda, Madrid 28003
      (Espa&ntilde;a), info@aspgems.com.
      <br />
      El Cliente manifiesta haber cumplido todos los requisitos establecidos
      en la legislaci&oacute;n vigente en materia de
      protecci&oacute;n de datos de car&aacute;cter personal, y haber
      obtenido todos los consentimientos, licencias y autorizaciones
      necesarios para efectuar la recogida, tratamiento, cesi&oacute;n, y
      transferencia internacional, en su caso, de los datos de
      car&aacute;cter personal de los usuarios necesarios para el uso de
      los Servicios. Asimismo, el CLIENTE se compromete a eximir de
      responsabilidad y mantener indemne a ASPgems por las sanciones o
      indemnizaciones que pudieran ser impuestas por los da&ntilde;os y
      perjuicios que pueda causar a terceros en el caso de que se produzca
      cualquier incumplimiento de la legislaci&oacute;n en materia de
      protecci&oacute;n de datos de car&aacute;cter personal.
      <br />
      En todo caso, ASPgems y la empresa que preste servicios de
      almacenamiento de datos o hosting y servicios de back-up de datos a
      ASPgems con la &uacute;nica finalidad de cumplir lo previsto en el
      presente Contrato, y que ser&aacute; notificada al Cliente en cada
      momento, se comprometen a tratar los datos personales de los usuarios
      que el Cliente incorpore al sistema inform&aacute;tico que ASPgems
      ponga a disposici&oacute;n del Cliente en virtud de lo previsto en
      el presente Contrato, en su calidad de encargados del tratamiento,
      &uacute;nicamente conforme a las instrucciones del Cliente, a no
      aplicarlos o utilizarlos con una finalidad distinta a la finalidad
      indicada en el presente Contrato, ni a comunicarlos a otras personas ni
      siquiera para su conservaci&oacute;n. ASPgems y la empresa que
      preste servicios de almacenamiento de datos o hosting y servicios de
      back-up de datos a ASPgems se comprometen a aplicar las medidas de
      seguridad adoptadas por el Cliente y que &eacute;ste
      facilitar&aacute; a ASPgems con dicha finalidad. A la
      terminaci&oacute;n del presente Contrato, los datos personales de
      los usuarios ser&aacute;n incorporados por parte del cliente a la plataforma de ASPgems ser&aacute;n destruidos o devueltos al Cliente, al
      igual que cualquier soporte o documento en que conste alg&uacute;n
      dato de car&aacute;cter personal objeto del tratamiento.
    </p>
    <p>
      <span class="terms_of_service_header">9. NOTIFICACIONES</span>
      <br />
      Cualquier notificaci&oacute;n o comunicaci&oacute;n entre las
      Partes del presente Contrato, se efectuar&aacute; por escrito,
      mediante fax, correo electr&oacute;nico, correo certificado con
      acuse de recibo, comunicaci&oacute;n escrita privada, siempre que
      el destinatario devuelva copia con su firma, en prueba de
      aceptaci&oacute;n o acuse de recibo, o cualquier otro medio que
      asegure el env&iacute;o y la recepci&oacute;n, dirigido a las
      direcciones que las Partes se comuniquen en cada momento.
    </p>
    <p>
      <span class="terms_of_service_header">10. LEGISLACI&Oacute;N APLICABLE Y JURISDICCI&Oacute;N</span>
      <br />
      El presente Contrato se regir&aacute; e interpretar&aacute; por
      el derecho espa&ntilde;ol vigente en cada momento. Las Partes
      acuerdan expresamente y de modo inequ&iacute;voco someter cualquier
      discrepancia que pueda surgir entre las mismas con respecto a la
      interpretaci&oacute;n, cumplimiento y/o ejecuci&oacute;n de lo
      establecido en este Contrato, a la jurisdicci&oacute;n exclusiva de
      los Juzgados y Tribunales de la ciudad de Madrid (Espa&ntilde;a),
      con renuncia expresa a cualquier otro fuero que por derecho les pudiera
      corresponder.<br/>
      <br/>
      En
      caso de que no est&eacute; de acuerdo de modo total o parcial con los
      t&eacute;rminos y condiciones precedentes, no pulse el icono &ldquo;aceptar&rdquo;
      y salga de este sistema cerrando las ventanas relativas al proceso de
      contrataci&oacute;n de este Servicio.
    </p>
    <p>
      <%= link_to_function 'Cerrar ventana', 'window.close()' %>
    </p>
  </body>
</html>